ion-img{
    height: 60vh;
}
ion-card-content{
    text-align: center;
    background-color: #FFC9EB;
}
ion-card{
    margin-top: 0;
}
a{
    color:#D40086;
}
a:visited{
    color: purple;
}
@media screen and (max-width:720px) {
    ion-img{
        height: 40vh;
    }

}