<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ayuda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-card color="primary">
      <p>Contactate de nosotros a traves de nuestro correo electronico:</p>
      <a href="#">adopme@gmail.com</a>
      <p>telefono: 238163xxxx</p>
      <p>Siguenos en nuestras redes sociales para más informacion</p>
    </ion-card>
    <ion-card>
      <ion-img src="../../assets/images/1.jpg"></ion-img>
    </ion-card>
</ion-content>
