<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Ayuda">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Contacto">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
